<mat-sidenav-container fxFlexFill="" (backdropClick)="toggleNav()">
  <mat-sidenav [mode]="mode" [opened]="navBarOpen">
    <mat-nav-list>
      <a *ngFor="let route of routes" mat-list-item [routerLink]="route.route">
        <fpa-margin-icon [iconName]="route.icon"></fpa-margin-icon>{{route.title}}
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content fxLayout="column">
    <fpa-toolbar (navToggle)="toggleNav()">

    </fpa-toolbar>
    <div fxFlex="">
      <router-outlet></router-outlet>
    </div>
    <footer fxLayout="column ">
      <hr fxFlexFill="">
      <p fxFlexAlign="center">My Page</p>
    </footer>
  </mat-sidenav-content>
</mat-sidenav-container>

